/*Ajuste Mobile Pagina de perfil */
@media (max-width: 768px) {

  .field-row:not(.vehicle .field-row) {
    flex-direction: column !important; 
    align-items: stretch !important;   
    gap: 6px;                         
  }

  .field-row:not(.vehicle .field-row) input,
  .field-row:not(.vehicle .field-row) button {
    width: 100% !important;           
    max-width: none !important;      
  }

  .field-row:not(.vehicle .field-row) label {
    margin-bottom: 4px;
    font-size: 14px;
  }

}
